<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= person.role %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= person.content %>
  </p>

</div>
