/************************************************
 *  20.02.2022 Deprecated in favor of BS classes
 ************************************************/
// Way #2

// Ways #1 & #2
// body.home {
//   padding-top: 10px;
//   margin: 10px;
//   background-color: rgb(240, 243, 201);
//   color:            black;
// }
// body.admin {
//   padding-top: 10px;
//   margin: 10px;
//   background-color: rgb(202, 235, 202);
//   color:            black;
//   }

// h1.admin {color: red}
// h1.home {color: magenta}

.footer-debug {
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
  background-color: lightgray;
}

.content-area {
  padding: 10px;
  background-color: lightgrey;
}

.form-image-cell {
  padding: 5px;
}
